<section class="section__design">
  <h2 class="section__design--title">diseña</h2>
  <form class="section__design--form" action="/signup" method="POST">
    <h3 class="section__design--subtitle">Colores</h3>
    <label for="colorpalette1">
      <input
        class="section__desing--boxcolor1"
        id="colorpalette1"
        type="radio"
        value="green"
        name="design-color"
      />
    </label>
    <label for="colorpalette2">
      <input
        id="colorpalette2"
        type="radio"
        value="red"
        name="design-color"
      />
    </label>
    <label for="colorpalette3">
      <input id="colorpalette3" type="radio" value="blue" name="design-color" />
    </label>
  </form>
</section>
