<section class="section__design">
  <div class="section__design--contain">
    <h2 class="section__design--title">
      <i class="far fa-object-ungroup icon--design"></i>diseña
    </h2>
    <span>
      <i class="fas fa-angle-up icon--angle"></i>
    </span>
  </div>
  <h3 class="section__design--subtitle">Colores</h3>
  <label class="section__desing--boxcolor" for="colorpalette1">
    <input
      class="section__design--check"
      id="colorpalette1"
      type="radio"
      value="green"
      name="design-color"
    />
    <ul class="section__design--palette">
      <li class="box color1-1"></li>
      <li class="box color1-2"></li>
      <li class="box color1-3"></li>
    </ul>
  </label>
  <label class="section__desing--boxcolor2" for="colorpalette2">
    <input
      class="section__design--check"
      id="colorpalette2"
      type="radio"
      value="red"
      name="design-color"
    />
    <ul class="section__design--palette">
      <li class="box color2-1"></li>
      <li class="box color2-2"></li>
      <li class="box color2-3"></li>
    </ul>
  </label>
  <label class="section__desing--boxcolor3" for="colorpalette3">
    <input
      class="section__design--check"
      id="colorpalette3"
      type="radio"
      value="blue"
      name="design-color"
    />
    <ul class="section__design--palette">
      <li class="box color3-1"></li>
      <li class="box color3-2"></li>
      <li class="box color3-3"></li>
    </ul>
  </label>
</section>
