<section class="section__design">
  <div class="section__design--contain js-collapsible-header">
    <h2 class="section__design--title">
      <i class="far fa-object-ungroup icon--design"></i>diseña
    </h2>
    <span class="icon--angle">
      <i class="fa fa-chevron-down js-arrow"></i>
    </span>
  </div>
  <div class="section__design--box js-collapsible collapsible--close">
    <h3 class="section__design--subtitle">Colores</h3>
    <label class="section__desing--boxcolor" for="colorpalette1">
      <input
        class="section__design--check js-colorPalette1"
        type="radio"
        value="g"
        name="design-color"
        checked
      />
      <ul class="section__design--palette">
        <li class="box color1-1"></li>
        <li class="box color1-2"></li>
        <li class="box color1-3"></li>
      </ul>
    </label>
    <label class="section__desing--boxcolor" for="colorpalette2">
      <input
        class="section__design--check js-colorPalette2"
        type="radio"
        value="r"
        name="design-color"
      />
      <ul class="section__design--palette">
        <li class="box color2-1"></li>
        <li class="box color2-2"></li>
        <li class="box color2-3"></li>
      </ul>
    </label>
    <label class="section__desing--boxcolor" for="colorpalette3">
      <input
        class="section__design--check js-colorPalette3"
        type="radio"
        value="b"
        name="design-color"
      />
      <ul class="section__design--palette">
        <li class="box color3-1"></li>
        <li class="box color3-2"></li>
        <li class="box color3-3"></li>
      </ul>
    </label>
  </div>
</section>
