<section class="formf" id="reset">
  <div class="formf__fill js-collapsible-header">
    <div class="formf__fill--icon">
      <i class="far fa-keyboard"></i>
      <h2 class="formf__fill--title">rellena</h2>
    </div>
    <span class="formf__fill--arrow-up">
      <i class="fa fa-chevron-down js-arrow"></i>
    </span>
  </div>
  <div class="js-collapsible collapsible--close">
    <section class="formf__box js-fillform" action="" method="POST">
      <label for="full-name">Nombre completo</label>
      <input
        class="name js-fullName"
        placeholder="Ej: Sally Hill"
        type="text"
        name="name"
        required
      />

      <label for="">Puesto</label>
      <input
        class="js-fillJob"
        value=""
        placeholder="Ej: Front-End unicorn"
        type="text"
        name="job"
        required
      />

      <div class="formf__box--label">Imagen de perfil</div>
      <div class="formf__box--container">
        <!--aqui va foto clase ivan-->
        <label class="formf__box--button" for="img-selector"
          >Añadir imagen</label
        >
        <input
          id="img-selector"
          class="js__profile-upload-btn formf__box--inputFile"
          type="file"
        /><!---file carga la imagen-->

        <div
          class="formf__box--previewimg js__profile-preview"
          type="image"
          src=""
          alt=""
        ></div>
        <!--provisional-->
      </div>

      <label for="email">Email</label>
      <input
        class="js-input-email"
        placeholder="Ej: sally-hill@gmail.com"
        type="email"
        name="email"
        required
      />

      <label for="">Teléfono</label>
      <input
        class="js-input-phone"
        placeholder="Ej: 555-55-55-55"
        type="tel"
        name="phone"
        required
      />

      <label for="">LinkedIn</label>
      <input
        class="js-input-linkedin"
        placeholder="Ej: linkedin.com/in/sally.hill"
        type="text"
        name="linkedin"
        required
      />

      <label for="">Github</label>
      <input
        class="js-input-github"
        placeholder="Ej: @sally-hill"
        href="https://github.com/"
        type="text"
        name="github"
        required
      />
    </section>
  </div>
</section>
