<section class="form">
  <div class="form__fill">
    <div class="form__fill--icon">
      <i class="far fa-keyboard"></i>
      <h2 class="form__fill--title">rellena</h2>
    </div>
    <span class="form__fill--arrow-up">
      <i class="fas fa-angle-up"></i>
    </span>
  </div>
    <form class="form__box" action="" method="POST">
        <label for="full-name">Nombre completo</label>
        <input class="" placeholder="Ej: Sally Hill" type="text" name="full-name">

        <label for="">Puesto</label>
        <input class="" placeholder="Ej: Front-End unicorn" type="text" name="">

        <label for="">Imagen de perfil</label>
        <div class="form__box--container">
            <input class="form__box--button" type="submit" value="Añadir imagen">
            <input class="form__box--previewimg" type="image" src="" alt=""> <!--provisional-->
        </div>

        <label for="">Email</label>
        <input placeholder="Ej: sally-hill@gmail.com" type="email" name="">

        <label for="">Teléfono</label>
        <input class="" placeholder="Ej: 555-55-55-55" type="tel">

        <label for="">LinkedIn</label>
        <input class="" placeholder="Ej: linkedon.com/in/sally.hill" type="text">

        <label for="">Github</label>
        <input class="" placeholder="Ej: @sally-hill" type="text">

    </form>
</section>