<section class="section__photo">
  <button class="section__photo--button js-photoReset" id="reset">
    <i class="far fa-trash-alt icongarbage"></i>reset
  </button>
  <article class="section__photo--card">
    <div class="section__photo--boxnamejob border-palette-g2">
      <h3 class="section__photo--name js-photoFullName color-pallete-g1">
        nombre apellido
      </h3>
      <h4 class="section__photo--job js-photoJob">Front-end developer</h4>
    </div>
    <div class="section__photo--img">
      <div
        class="section__photo--image js__profile-image"
        style="
          background-image: url(../assets/images/vegan-deburguer-photo.jpg);
        "
        alt="photograph"
      ></div>
    </div>

    <nav class="section__photo--nav">
      <ul class="section__photo--list">
        <li class="section__photo--link border-palette-g3">
          <a class="section__photo--icon js-photoPhone" href="" target="_blank"
            ><i class="fas fa-mobile-alt"></i
          ></a>
        </li>
        <li class="section__photo--link border-palette-g3">
          <a class="section__photo--icon js-photoEmail" href="" target="_blank"
            ><i class="far fa-envelope"></i
          ></a>
        </li>
        <li class="section__photo--link border-palette-g3">
          <a
            class="section__photo--icon js-photoLinkedin"
            href="https://es.linkein.com/in/"
            target="_blank"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <li class="section__photo--link border-palette-g3">
          <a
            class="section__photo--icon js-photoGithub"
            href="https://github.com/"
            target="_blank"
            ><i class="fab fa-github-alt"></i
          ></a>
        </li>
      </ul>
    </nav>
  </article>
</section>
