<section>
  <form action="/signup" method="POST">
    <label for="buttonreset">
      <input id="buttonreset" type="reset" value="Reset" /><i
        class="far fa-trash-alt"
      ></i
    ></label>

    nombre apellido front-end developer
    <img src="" alt="photograph" />

    <nav>
      <ul>
        <li><a href=""></a><i class="fas fa-mobile-alt"></i></li>
        <li><a href=""></a><i class="far fa-envelope"></i></li>
        <li><a href=""></a><i class="fab fa-linkedin-in"></i></li>
        <li><a href=""></a><i class="fab fa-github-alt"></i></li>
      </ul>
    </nav>
  </form>
</section>
