<section class="share">
    <include src="" icon="fa fa-share-alt" aria-hidden="true" title="Comparte"></include>
  
    <div class="share__container">
      <button class="button__create">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>Crear tarjeta
      </button>
  
    <div class="confirm__share hidden">
      <p class="confirm__share--title">La tarjeta ha sido creada:</p>
      <a class="confirm__share--link" href=""></a>
      <button class="button__share">
        <i class="fa fa-twitter" aria-hidden="true"></i>Compartir en Twitter
      </button>
    </div>

    </div>
  
</section>