<fieldset class="share">
  <div class="share__header">
    <h2 class="share__header--title">
      <i class="fas fa-share-alt share__header--icon" aria-hidden="true" title="Comparte">Comparte</i>
    </h2>
  </div>

  <div class="share__create hidden__container">
    <button class="share__create--button">
      <i class="far fa-address-card-o" aria-hidden="true"></i>Crear tarjeta
    </button>
  </div>
  
  <div class="share__result">
    <p class="share__result--title">La tarjeta ha sido creada:</p>
    <a class="share__result--link" href=""></a>
    <button class="share__result--twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>Compartir en Twitter
    </button>
  </div>  
</fieldset>