<section class="share">
  <div class="share__header">
    <i class="share__header--icon fas fa-share-alt" title="Comparte"></i>
    <h2 class="share__header--title">Comparte</h2>
    <i class="share__arrow fa fa-chevron-down"></i>
  </div> 

  <div class="share__create hidden__container">
    <button class="share__create--button">
      <i class="far fa-address-card-o"></i>Crear tarjeta
    </button>
  </div>
  
  <div class="share__result">
    <p class="share__result--title">La tarjeta ha sido creada:</p>
    <a class="share__result--link" href="">https://awesome-profile-card.com?id=A456DF0001</a>
    <button class="share__result--twitter">
      <i class="fa fa-twitter"></i>Compartir en Twitter
    </button>
  </div>  
</section>