@media all and (min-width: 768px) {
  .main-cards__container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
  }

  .section__photo {
    grid-column: 2/3;
    grid-row: span 3;
  }

  .main-cards__form {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
