.section__design {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4;
  padding: 27px 20px 0 20px;
  border-bottom: 1px solid $color-border;
  grid-column: 1/2;
  grid-row: 1;
}
.section__design--contain {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__design--title {
  grid-column: span 3;
  grid-row: 1;
  font-family: $font-primary;
  font-size: 18px;
  color: $color-secondary;
  text-transform: uppercase;
}
.icon--design {
  font-size: 18px;
  color: $color-icons;
  margin-right: 10px;
}
.icon--angle {
  font-size: 22px;
  color: $color-secondary;
  padding-right: 10px;
}
/*
design<i class="far fa-object-ungroup"></i>
*/

.section__design--subtitle {
  grid-column: span 1;
  grid-row: 2;
  font-family: $font-primary;
  font-size: 14px;
  color: $color-secondary;
  text-transform: uppercase;
  margin-top: 22px;
  font-weight: lighter;
  margin-left: 19px;

  @media all and (min-width: 768px) {
    margin-left: 0px;
  }
}
.section__desing--boxcolor {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 2/3;
  grid-row: 2;
  padding-right: 10px;
  margin-top: 22px;
}
.section__design--check {
  margin: 0px 10px 0px 0px;
}
.section__design--palette {
  display: flex;
  flex-direction: row;
}
.box {
  width: 30px;
  height: 25px;
}
.color1-1 {
  background-color: $color-palette-g1;
}
.color1-2 {
  background-color: $color-palette-g2;
}
.color1-3 {
  background-color: $color-palette-g3;
}
.section__desing--boxcolor2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 2/3;
  grid-row: 3;
  padding-right: 10px;
  margin-top: 20px;
}
.color2-1 {
  background-color: $color-palette-r1;
}
.color2-2 {
  background-color: $color-palette-r2;
}
.color2-3 {
  background-color: $color-palette-r3;
}
.section__desing--boxcolor3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 2/3;
  grid-row: 4;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.color3-1 {
  background-color: $color-palette-b1;
}
.color3-2 {
  background-color: $color-palette-b2;
}
.color3-3 {
  background-color: $color-palette-b3;
}
