.formf {
  width: 100%;
  //height: 100%;

  &__fill {
    display: flex;
    justify-content: space-between;
    &--icon {
      display: flex;
      margin-top: 10px;
      margin-left: 20px;
      color: $color-icons;
      font-size: 18px;
      align-items: center;
      padding-bottom: 10px;

      .fa-keyboard {
        margin-right: 10px;
      }
    }
    &--title {
      font-family: $font-primary;
      font-size: 18px;
      color: $color-secondary;
      text-transform: uppercase;
      /*margin-left: 51px;*/
    }

    &--arrow-up {
      color: $color-secondary;
      font-size: 18px;
      padding-right: 20px;
      padding-top: 10px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 25px 19px 30px 20px;
    font-size: 14px;

    &--container {
      display: flex;
      flex-direction: row;
    }

    &--button {
      width: 140px;
      color: $color-background-cards;
      background-color: $color-icons;
      border: none; //sombreado
      border-radius: 3px;
    }

    &--previewimg {
      height: 30px;
      width: 30px;
      margin-left: 20px;
    }
  }
}
input {
  height: 30px;
  border: solid 1px $color-palette-g3;
  margin-bottom: 20px;
  margin-top: 7px;
}

label {
  color: $color-palette-g1;
}
