* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  color: $color-icons;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1594349835151-8b9d5eec19b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODV8fHZlZ2V0YWJsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60);
  background-size: cover;
  height: calc(100vh - 120px);

  @media all and (min-width: 768px) {
    height: calc(100vh - 61px);
  }

  @media all and (min-width: 1220px) {
    height: calc(100vh - 61px);
  }

  &__img {
    width: 250px;
    margin-bottom: 35px;
    margin-top: 95px;

    @media all and (min-width: 768px) {
      margin-bottom: 31px;
    }
  }

  &__title {
    font-family: $font-title;
    font-size: 19.2px;
    width: 270px;
    height: 24px;
    line-height: 19.2px;
    color: $color-primary;

    @media all and (min-width: 768px) {
      width: 278px;
      font-size: 24px;
      font-weight: 900;
    }
  }

  &__subtitle {
    font-family: $font-primary;
    width: 250px;
    font-size: 12.8px;
    color: rgba(255, 255, 255, 0.808);
    line-height: 25px;
    margin-bottom: 17.5px;
    font-weight: normal;
    line-height: normal;
    padding-bottom: 10px;

    @media all and (min-width: 768px) {
      width: 331px;
      font-size: 16px;
      font-weight: normal;
    }
  }

  &__container {
    width: 268px;
    border: 2px solid rgba(255, 255, 255, 0.37);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 15px 10px 15px 15px;

    @media all and (min-width: 768px) {
      width: 325px;
      font-weight: normal;
    }
  }

  &__icon {
    font-size: 22.4px;

    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }

  &__text {
    color: rgba(255, 255, 255, 0.808);
    font-size: 12.8px;

    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__button {
    text-decoration: none;
    color: $color-background-cards;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    width: 127px;
    height: 39px;
    border-radius: 21px;
    line-height: 42px;
    border-radius: 21px solid $color-primary;
    background-color: $color-primary;
    margin-top: 38.6px;
    margin-bottom: 80px;
    font-family: $font-primary;
  }
}
