.main-cards__container {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    background: linear-gradient(to bottom, #fffff7, rgb(243, 241, 230));
    padding-top: 23px;
    padding-bottom: 20px;
    justify-content: space-around;
  }
}

.sectionForm {
  order: -1;
  padding: 30px 20px 30px 20px;

  @media all and (min-width: 768px) {
    width: 399px;
    margin-left: 40px;
    padding: 0px;
    margin-right: 30px;
  }
}
