/* PALETTE GREEN */
.color-palette-g1 {
  color: $color-palette-g1;
}

.border-palette-g2 {
  border-color: $color-palette-g2;
}

.border-palette-g3 {
  border-color: $color-palette-g3;
}

/* PALETTE RED */
.color-palette-r1 {
  color: $color-palette-r1;
}

.border-palette-r2 {
  border-color: $color-palette-r2;
}

.border-palette-r3 {
  border-color: $color-palette-r3;
}

/* PALETTE BLUE */
.color-palette-b1 {
  color: $color-palette-b1;
}

.border-palette-b2 {
  border-color: $color-palette-b2;
}

.border-palette-b3 {
  border-color: $color-palette-b3;
}
