.section__photo {
  width: 100%;
  background-color: rgba(221, 233, 237, 100);
  padding: 38px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;

  @media all and(min-width: 768px) {
    width: 40%;
  }
}
.section__photo--button {
  width: 75px;
  height: 30px;
  font-family: $font-primary;
  font-size: 12px;
  color: $color-secondary;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid $color-background-cards;
  background-color: rgba(221, 233, 237, 100);
  margin-bottom: 20px;

  @media all and (min-width: 768px) {
    margin-left: 25px;
  }

  @media all and (min-width: 1200px) {
    margin-left: 173px;
  }
}
.icongarbage {
  font-size: 12px;
  color: $color-secondary;
  margin-right: 8px;
}
.section__photo--card {
  background-color: $color-background-cards;
  padding-top: 21px;
  border-radius: 3px;

  @media all and (min-width: 768px) {
    margin-left: 25px;
    margin-right: 24px;
  }

  @media all and (min-width: 1200px) {
    margin-left: 173px;
    margin-right: 172px;
  }
}
.section__photo--boxnamejob {
  border-left: 5px solid $color-palette-g2;
  padding: 0px 20px 0px 14px;
  margin-bottom: 10px;
}
.section__photo--name {
  font-family: $font-cards;
  font-size: 18px;
  color: $color-primary;
  text-transform: capitalize;
  padding-bottom: 4px;
}
.section__photo--job {
  font-family: $font-cards;
  font-size: 16px;
  color: $color-secondary;
  /*font-weight: lighter; REVISAR*/
}
.section__photo--image {
  width: 100%;
  height: 100%;
}
.section__photo--nav {
  padding: 10px 20px 12px 20px;
}
.section__photo--list {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: $color-primary;
}
.section__photo--link {
  width: 32px;
  height: 32px;
  font-size: 18px;
  border: 1px solid $color-palette-g3;
  border-radius: 20px;
  margin-right: 10px;
  padding-top: 2px;
}
.section__photo--icon {
  font-size: 18px;
  color: $color-primary;
}

.section__photo.js-color-red {
  .section__photo--boxnamejob {
    border-left: #bd1010 5px solid;
    &--name {
      color: #420101;
    }
  }
  .section__photo--link {
    border-color: #e95626;
  }
}

.section__photo.js-color-blue {
  .section__photo--boxnamejob {
    border-left: #eab052 5px solid;
    &--name {
      color: #3e5b65;
    }
  }
  .section__photo--link {
    border-color: #a0c0cf;
  }
}
