.section__photo {
  width: 100%;
  background-color: rgba(221, 233, 237, 100);
  padding: 38px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  @media all and(min-width: 768px) {
    width: 70%;
    //height: ;
  }
}
.section__photo--button {
  width: 75px;
  height: 30px;
  font-family: $font-primary;
  font-size: 12px;
  color: $color-secondary;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid $color-background-cards;
  background-color: rgba(221, 233, 237, 100);
  margin-bottom: 20px;
  transform: translate(-80px);

  @media all and (min-width: 768px) {
    transform: translate(-82px);
  }

  @media all and (min-width: 1200px) {
  }
}
.icongarbage {
  font-size: 12px;
  color: $color-secondary;
  margin-right: 8px;
}
.section__photo--card {
  background-color: $color-background-cards;
  padding-top: 21px;
  border-radius: 3px;
  //width: 400px;

  @media all and (min-width: 768px) {
    margin-left: 25px;
    margin-right: 24px;
    height: 380px;
    width: 240px;
  }

  @media all and (min-width: 1200px) {
  }
}
.section__photo--boxnamejob {
  border-left: 5px solid;
  padding: 0px 20px 0px 14px;
  margin-bottom: 10px;
}

.section__photo--name {
  font-family: $font-cards;
  font-size: 18px;
  text-transform: capitalize;
  padding-bottom: 4px;
}

.section__photo--job {
  font-family: $font-cards;
  font-size: 16px;
  color: $color-secondary;
  /*font-weight: lighter; REVISAR*/
}

.section__photo--image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.section__photo--nav {
  padding: 10px 20px 12px 20px;
}
.section__photo--list {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: $color-primary;
}
.section__photo--link {
  width: 32px;
  height: 32px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 20px;
  margin-right: 10px;
  padding-top: 2px;
}
.section__photo--icon {
  font-size: 18px;
  color: $color-primary;
}
