.share__container {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-footer-border;
}

.share {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--icon {
      width: 21px;
      height: 18px;
      color: $color-icons;
      font-size: 18px;
      margin-right: 10px;
    }
    &--title {
      text-transform: uppercase;
      font-size: 18px;
      color: $color-primary;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }
  }

  &__arrow {
    color: $color-secondary;
    font-size: 18px;
    .fa-chevron-down {
      height: 18px;
    }
  }

  &__create {
    display: flex;
    justify-content: center;
    &--button {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 199px;
      height: 50px;
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: 18px;
      color: $color-background-cards;
      background-color: #0c5c5c;
      border: 1px solid $color-background-cards;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      border-radius: 12px;
      outline: none;
      cursor: pointer;
      &:active {
        background-color: gray;
        border: 1px solid gray;
      }
      .fa-address-card {
        width: 25px;
        height: 22px;
        font-size: 22px;
        color: white;
        margin-right: 9px;
      }
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #d8d8d8;
    &--title {
      margin: 20px 0 5px 0;
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: #54585a;
    }
    &--link {
      font-family: $font-primary;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      color: $color-icons;
      @media all and (min-width: 768px) {
        font-size: 16px;
      }
    }
    &--twitter {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #00a0f5;
      font-family: $font-primary;
      font-size: 14px;
      line-height: 1.43;
      color: $color-background-cards;
      width: 181px;
      height: 30px;
      margin: 10px 0 30px 0;
      border-radius: 3px;
      border: transparent;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
      text-decoration: none;
      cursor: pointer;
      .fa-twitter {
        width: 18px;
        height: 18px;
        margin-bottom: 5px;
        font-size: 18px;
        text-align: center;
        color: white;
      }
    }
  }
}
.collapsible--close {
  display: none;
}

.js-share-hidden {
  display: none;
}
.js-create-hidden {
  background: $color-footer-text;
}
